.btn_hs {
  @extend %flexRowNowrapSB;
  gap: 27px;
  height: 65px;
  padding-left: 41px;
  padding-right: 8px;
  border-radius: 1000px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  white-space: nowrap;
  img {
    width: 51px;
    height: 51px;
  }
  &.white {
    background-color: white;
  }
  &.transporent {
    background-color: rgba(0, 0, 0, 0.1);
    @extend %bgBlur;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  &.down {
    border: none;
  }
  &.leave_request {
    background: linear-gradient(135deg, #9300ce 0%, #2c03a5 100%);
    color: white;
    font-weight: 500;
  }
  @include desktop(1400) {
    height: 60px;
    font-size: 12px;
    padding-left: 35px;
  }
  @include desktop(1200) {
    height: 48px;
    padding-right: 3px;
    font-size: 10px;
    padding-left: 25px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  @include mobile {
    height: 56px;
    img {
      width: 45px;
    }
    &.leave_request {
      height: 65px;
      img {
        width: 51px;
      }
    }
    &.mobile_full_width {
      width: 100%;
      max-width: 450px;
      justify-content: flex-end;
      p {
        width: 100%;
        margin: 0;
      }
    }
  }
}
