.btn_hs {
  @extend %flexRowNowrapSB;
  gap: 27px;
  height: 65px;
  padding-left: 41px;
  padding-right: 8px;
  border-radius: 1000px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  img {
    width: 51px;
    height: 51px;
  }
  &.white {
    background-color: white;
  }
  &.transporent {
    background-color: rgba(0, 0, 0, 0.1);
    @extend %bgBlur;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  &.down {
    border: none;
  }
  &.leave_request {
    background: linear-gradient(135deg, #9300ce 0%, #2c03a5 100%);
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
}
