// заполнители
%flexRowNowrapSB {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
%bgBlur {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
